<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>657201404945-kdmi4ms5hdgi3bb2vddrftssb0kc3mm4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657201404945-kdmi4ms5hdgi3bb2vddrftssb0kc3mm4</string>
	<key>API_KEY</key>
	<string>AIzaSyD5ZFAEW9dCbKnVdlAVP8Tk6XOrCD6UVzE</string>
	<key>GCM_SENDER_ID</key>
	<string>657201404945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psd.see.PSDSee</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-1394652326</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-1394652326.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:657201404945:ios:b7f1f75936912b8a</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-1394652326.firebaseio.com</string>
</dict>
</plist>
